@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h1>VALITSE VASTAANOTTOAIKA</h1>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Kalenteri</h2>
        <input class="flatpickr" type="text" placeholder="Select Date..">
    </div>
    <div class="col-md-8">
        <div class="otsikko-vapaat-ajat">
            <h2>Vapaat ajat</h2>
        </div>
        <div class="row appointment-row">
            <div class="col-sm-3">
                <div class="appointment-time-container">
                    <div class="appointment-time">
                        <div class="appointment-clock">9:00</div>
                        <div class="appointment-duration">20 min</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="appointment-category">
                    <div>Yleislääkäri</div>
                    <div>Matti Meikäläinen</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="appointment-button">
                    <input type="submit" value="Varaa" class="btn btn-primary btn-lg">
                </div>
            </div>
        </div>
        <div class="row appointment-row">
            <div class="col-sm-3">
                <div class="appointment-time-container">
                    <div class="appointment-time">
                        <div class="appointment-clock">9:00</div>
                        <div class="appointment-duration">20 min</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="appointment-category">
                    <div>Yleislääkäri</div>
                    <div>Matti Meikäläinen</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="appointment-button">
                    <input type="submit" value="Varaa" class="btn btn-primary btn-lg">
                </div>
            </div>
        </div>
        <div class="row appointment-row">
            <div class="col-sm-3">
                <div class="appointment-time-container">
                    <div class="appointment-time">
                        <div class="appointment-clock">9:00</div>
                        <div class="appointment-duration">20 min</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="appointment-category">
                    <div>Yleislääkäri</div>
                    <div>Matti Meikäläinen</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="appointment-button">
                    <input type="submit" value="Varaa" class="btn btn-primary btn-lg">
                </div>
            </div>
        </div>
        <div class="row appointment-row">
            <div class="col-sm-3">
                <div class="appointment-time-container">
                    <div class="appointment-time">
                        <div class="appointment-clock">9:00</div>
                        <div class="appointment-duration">20 min</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="appointment-category">
                    <div>Yleislääkäri</div>
                    <div>Matti Meikäläinen</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="appointment-button">
                    <input type="submit" value="Varaa" class="btn btn-primary btn-lg">
                </div>
            </div>
        </div>
        <div class="row appointment-row">
            <div class="col-sm-3">
                <div class="appointment-time-container">
                    <div class="appointment-time">
                        <div class="appointment-clock">9:00</div>
                        <div class="appointment-duration">20 min</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="appointment-category">
                    <div>Yleislääkäri</div>
                    <div>Matti Meikäläinen</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="appointment-button">
                    <input type="submit" value="Varaa" class="btn btn-primary btn-lg">
                </div>
            </div>
        </div>
        <div class="row appointment-row">
            <div class="col-sm-3">
                <div class="appointment-time-container">
                    <div class="appointment-time">
                        <div class="appointment-clock">9:00</div>
                        <div class="appointment-duration">20 min</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="appointment-category">
                    <div>Yleislääkäri</div>
                    <div>Matti Meikäläinen</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="appointment-button">
                    <input type="submit" value="Varaa" class="btn btn-primary btn-lg">
                </div>
            </div>
        </div>
    </div>
</div>
